<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue-scroll-picke</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
    a {
        display: inline-block;
        background: #ccc;
        color: #fff;
        padding: 10px 10px 7px;
        cursor: pointer;
        margin: 3px;
    }
    a.active {
        background: #333;
    }
    </style>
  </head>
  <body>
    <div id="app">
        <div>
            <h2>Support All Font Size</h2>
            <div>
                <h3>Font Size 24px</h3>
                <div style="font-size: 24px;">
                    <scroll-picker-group class="flex">
                        <scroll-picker :options="stringOptions" @input="change" />
                        <scroll-picker :options="stringOptions" @input="change" />
                        <scroll-picker :options="stringOptions" @input="change" />
                    </scroll-picker-group>
                </div>
    
                <h3>Font Size 12px</h3>
                <div style="font-size: 12px;">
                    <scroll-picker-group>
                        <scroll-picker class="vue-scroll-picker-8" :options="options" @input="change" />
                        <scroll-picker class="vue-scroll-picker-4" :options="options" @input="change" />
                    </scroll-picker-group>
                </div>
    
            </div>
            <h2>Binding Tests</h2>
            <div>
                <h4>start value is null (current value = {{ dataBindingTest1 }})</h4>
                <div>
                    <scroll-picker :options="options" v-model="dataBindingTest1" />
                    <div style="text-align: center;">
                        <a
                                v-for="option in options"
                                :class="{active: dataBindingTest1 == option.value}"
                                @click="dataBindingTest1 = option.value"
                        >{{ option.name }}</a>
                    </div>
                </div>
    
                <h4>start value is 20 (current value = {{ dataBindingTest2 }})</h4>
                <div>
                    <scroll-picker :options="options" v-model="dataBindingTest2" />
                    <div style="text-align: center;">
                        <a
                                v-for="option in options"
                                :class="{active: dataBindingTest2 == option.value}"
                                @click="dataBindingTest2 = option.value"
                        >{{ option.name }}</a>
                    </div>
                </div>
    
                <h4>start value is null with placeholder (current value = {{ dataBindingTest3 }})</h4>
                <div>
                    <scroll-picker :options="options" v-model="dataBindingTest3" placeholder="Select One" />
                    <div style="text-align: center;">
                        <a :class="{active: dataBindingTest3 === null}" @click="dataBindingTest3 = null">None</a>
                        <a
                                v-for="option in options"
                                :class="{active: dataBindingTest3 == option.value}"
                                @click="dataBindingTest3 = option.value"
                        >{{ option.name }}</a>
                    </div>
                </div>
    
                <h4>start value is 20 with placeholder (current value = {{ dataBindingTest4 }})</h4>
                <div>
                    <scroll-picker :options="options" v-model="dataBindingTest4" placeholder="Select One" />
                    <div style="text-align: center;">
                        <a :class="{active: dataBindingTest4 === null}" @click="dataBindingTest4 = null">None</a>
                        <a
                                v-for="option in options"
                                :class="{active: dataBindingTest4 == option.value}"
                                @click="dataBindingTest4 = option.value"
                        >{{ option.name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
    <script src="dist/index.js"></script>
    <script src="example/index.js"></script>
  </body>
</html>
