
.vue-scroll-picker {
  position: relative;
  width: 100%;
  height: 10em;
  overflow: hidden;
}
.vue-scroll-picker-list {
  position: absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
}
.vue-scroll-picker-list-rotator {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - .6em);
  &.-transition {
    transition: top ease 200ms;
  }
}
.vue-scroll-picker-item {
  text-align: center;
  height: 1.2em;
  line-height: 1.2em;
  &.-placeholder {
    color: #aaa;
  }    
}

.vue-scroll-picker-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .top,
  .middle,
  .bottom {
    position: absolute;
  }
  .top {
    box-sizing: border-box;
    border-bottom: 1px solid #c8c7cc;
    background: linear-gradient(180deg,#fff 10%,rgba(255, 255, 255, .7));
    top: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em); // 96
    cursor: pointer;
  }
  .middle {
    top: calc(50% - 1em);
    left: 0;
    right: 0;
    bottom: calc(50% - 1em);
  }
  .bottom {
    border-top: 1px solid #c8c7cc;
    background: linear-gradient(0deg,#fff 10%,rgba(255, 255, 255, .7));
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em);
    cursor: pointer;
  }   
}
