.vue-scroll-picker-group {
  &.flex {
    display: flex;
  }
  &:after {
    clear: both;
    display: table;
    content: "";
  }
  @for $i from 1 through 12 {
    > .vue-scroll-picker-#{$i} {
      float: left;
      width: 100% / 12 * $i;
    }
  }
}
